@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
  --pink-main: #fa5287;
  --pink-light: #fca2c0;
  --dark: #1e1e1e;
  --white-transparent: rgba(255, 255, 255, 0.2);
  --white-transparent-border: #ffffff5d;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
  }

  .game {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--pink-light);
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--pink-main);
    width: 400px;
    border: 3px solid #1e1e1e;
    border-radius: 10px;
  }

  .game-header{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pink-main);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  h1 {
    font-size: 1.2rem;
    color: var(--dark);
    padding-left: 1rem;
    font-weight: 500;
  }

  .icons{
    display: flex;
    gap: 8px;
    margin-right: 20px;
  }

  .minimize{
    width: 24px;
  }

  .close{
    width: 24px;
  }

  .game-main{
    position: relative;
    background-color: var(--pink-light);
    padding: 20px 60px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px solid var(--dark);
  }

  .status {
    margin-bottom: 1rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.2rem;
    color: var(--dark);
    font-weight: 500;
  }
  
  .board {
    display: grid;
    border-radius: 10px;
  }
  
  .board-row {
    display: flex;
    gap: 5px;
  }

  .square {
    width: 80px;
    height: 80px;
    margin: 2px 0;
    background-color: var(--white-transparent); 
    backdrop-filter: blur(5px); 
    border: 2px solid var(--white-transparent-border);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .winning-square {
    border: 3px solid #0d912a;
    background-color: rgba(255, 255, 255, 0.733); 
  }

  .square img {
    width: 50px;
  }

  .reload-icon {
    width: 120px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .winner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(3px); 
    z-index: 9; /* abaixo da animação, acima do tabuleiro */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .winner-animation {
    z-index: 10;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .winner-animation img {
    width: 200px;
    height: auto;
  }